@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root{
    --color-primary: rgb(0 141 63);
    --font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header{
    background-color: var(--color-primary);
    height: 100px;
    display: flex;
    align-items: center;
    color: #FFF;
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: #FFF;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 60vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .text-apresentacao{
    min-height: 200px;
}

.apresentacao .text-apresentacao h1{
    color: var(--color-primary);
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: var(--color-primary);
    color: #FFF;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{
    font-size: 32px;
    color: var(--color-primary);
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: var(--color-primary);
    position: relative;
}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img{
    min-width: 420px;
}

.container-externo{
    background-color: var(--color-primary);
    width: 100%;
}

#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2{    color: #FFF;
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos{
    display: flex;
    justify-content: space-between;
}

.item-servico{
    text-align: center;
}

.item-servico a{
    width: 220px;
    background-color: #FFF;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    color: var(--color-primary);
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

.item-servico p{
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
    margin-top: 20px;
}

.item-servico img{
    width: 80%;
    margin: auto;
}

#planos{
    flex-direction: column;
    min-height: 60vh;
    padding-top: 50px;
}

#planos h2{
    font-size: 32px;
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano{
    flex: 1;
    border: 5px solid var(--color-primary);
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after{
    content: "";
    background-color: var(--color-primary);
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    margin-right: 5px;
}

footer{
    background-color: var(--color-primary); 
    height: 70px;
    display: flex;
}

.footer{
    justify-content: space-between;
    color: #FFF;
    justify-items: center;
}

/* mobile */
@media(max-width: 992px){
    .list-planos{
        flex-direction: column;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao .text-apresentacao{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
        text-align: center;
        width: 80%;
    }

    #quem-somos h2{
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #quem-somos h2::before{
        display: none;
    }

    #quem-somos h2::after{
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--color-primary);
        opacity: 0.1;
    }

    #quem-somos img{
        min-width: 320px;
        margin: auto;
    }

    .list-servicos{
        flex-direction: column;
    }

    .item-servico img{
        width: 50%;
        margin: auto;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .flex-container.menu{
        flex-direction: column;
    }

    .flex-container{
        align-items: center;
    }
    
    .apresentacao{
        height: auto;
        text-align: center;
    }

    .text-apresentacao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer{
        flex-direction: column;
    }
}